<div class="page-container">
    <div class="page-inside">
        <div class="upload-container">
            <div class="upload-section">
                <div class="writing-tag-container">
                    <p class="title">태그 작성</p>
                    <div class="description">
                        <ul>
                            <li>태그 작성 TIP😊</li>
                        </ul>
                        <p>
                            짤에 포함된 <strong>인물</strong>, 들어간 <strong>대사</strong>,
                            <strong>특집</strong> 이름, <strong>상황</strong>,
                            <strong>감정</strong> 위주로 태그 작성시 검색이 잘 됩니다 :)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="upload-button-container">
            <button id="upload">업로드</button>
        </div>
    </div>
</div>
