<div class="page-container">
    <div class="page-inside">
        <div class="upload-container">
            <div class="file-preview-container">
                <p>
                    여기에 사진을 <strong>드래그 앤 드랍</strong>하거나<br />오른쪽의
                    <strong>파일 선택 버튼</strong>을 눌러 업로드해주세요 :)
                </p>

                <div class="image-wrapper">
                    <img id="preview-image" />
                </div>
            </div>

            <div class="upload-section">
                <div class="file-upload-container">
                    <p class="title">파일 업로드</p>
                    <button id="select-file">파일 선택</button>
                </div>

                <div class="writing-tag-container">
                    <p class="title">태그 작성</p>
                    <div class="description">
                        <ul>
                            <li>태그 작성 TIP😊</li>
                        </ul>
                        <p>
                            짤에 포함된 <strong>인물</strong>, 들어간 <strong>대사</strong>,
                            <strong>특집</strong> 이름, <strong>상황</strong>,
                            <strong>감정</strong> 위주로 태그 작성시 검색이 잘 됩니다 :)
                        </p>
                    </div>
                    <div class="tag-input-container">
                        <div class="tag-input-inside">
                            <input type="text" id="tag-query" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="upload-button-container">
            <button id="upload">업로드</button>
        </div>
    </div>
</div>
