<div class="image-view-container">
    <div class="origin-image-container">
        <img id="originImg" />
    </div>

    <div class="tag-list-container">
        <ul class="tag-list">
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
            <li class="tag-item">
                <a href="/search/무한도전">#무한도전</a>
            </li>
        </ul>
    </div>
</div>
