<header>
    <div class="header-inside">
        <div class="logo-container">
            <a href="/">
                <img id="logo" src="../../assets/images/logo_type1.png" />
            </a>
        </div>

        <div class="menu-container">
            <ul id="menu-list">
                <li class="now">
                    <a href="/">홈</a>
                </li>
                <li>
                    <a href="/explore">탐색</a>
                </li>
                <li>
                    <a href="/create">만들기</a>
                </li>
            </ul>
        </div>

        <div class="search-container" data-container="search-container">
            <div id="search-box">
                <div class="icon">
                    <span class="material-symbols-rounded"> search </span>
                </div>
                <div class="icon mobile-back">
                    <span class="material-symbols-rounded"> arrow_back </span>
                </div>
                <input type="text" id="search-query" placeholder="검색어를 입력하세요..." />
            </div>

            <div id="related-box">
                <ul id="related-list">
                    <li data-item="asdf">
                        <div class="icon">
                            <span class="material-symbols-rounded"> tag </span>
                        </div>
                        <div class="result-section">
                            <p class="result-name">박명수</p>
                            <p class="result-count">총 123개의 짤</p>
                        </div>
                        <div class="result-reword">
                            <div class="icon">
                                <span class="material-symbols-rounded"> north_west </span>
                            </div>
                        </div>
                    </li>
                    <li data-item="asdf">
                        <div class="icon">
                            <span class="material-symbols-rounded"> tag </span>
                        </div>
                        <div class="result-section">
                            <p class="result-name">박명수</p>
                            <p class="result-count">총 123개의 짤</p>
                        </div>
                        <div class="result-reword">
                            <div class="icon">
                                <span class="material-symbols-rounded"> north_west </span>
                            </div>
                        </div>
                    </li>
                    <li data-item="asdf">
                        <div class="icon">
                            <span class="material-symbols-rounded"> tag </span>
                        </div>
                        <div class="result-section">
                            <p class="result-name">박명수</p>
                            <p class="result-count">총 123개의 짤</p>
                        </div>
                        <div class="result-reword">
                            <div class="icon">
                                <span class="material-symbols-rounded"> north_west </span>
                            </div>
                        </div>
                    </li>
                    <li data-item="asdf">
                        <div class="icon">
                            <span class="material-symbols-rounded"> tag </span>
                        </div>
                        <div class="result-section">
                            <p class="result-name">박명수</p>
                            <p class="result-count">총 123개의 짤</p>
                        </div>
                        <div class="result-reword">
                            <div class="icon">
                                <span class="material-symbols-rounded"> north_west </span>
                            </div>
                        </div>
                    </li>
                    <li data-item="asdf">
                        <div class="icon">
                            <span class="material-symbols-rounded"> tag </span>
                        </div>
                        <div class="result-section">
                            <p class="result-name">박명수</p>
                            <p class="result-count">총 123개의 짤</p>
                        </div>
                        <div class="result-reword">
                            <div class="icon">
                                <span class="material-symbols-rounded"> north_west </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
