@import '../../styles/mixins';

div.tag-input-container {
    padding: 0 12px;
    border: 1px dashed #6c6c6c;
    background-color: white;
    border-radius: 5px;

    div.tag-input-inside {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        padding: 12px 0;

        div.inputed-tag-item {
            display: flex;
            padding: 0 4px;
            height: fit-content;
            border: 1px solid #cecece;
            background-color: #f3f3f3;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            transition: all 0.1s ease-in-out;
            cursor: pointer;

            span:first-child {
                font-size: 15px;
            }

            span.tag-item {
                padding: 2px 0;
                pointer-events: none;
                width: max-content;
            }

            &:hover {
                background-color: #fff9f9;
            }

            &.highlight {
                animation-duration: 1s;
                animation-name: alarm;
            }
        }

        input#tag-query {
            display: inline-block;
            width: 100px;
            border: none;
            background: none;
            outline: none;
            appearance: none;
        }
    }
}

@include mobile {
    main.create div.page-container {
        div.page-inside {
            div.upload-container {
                div.tag-input-container {
                    height: 100%;
                }
            }
        }
    }
}

@include tablet {
    main.create div.page-container {
        div.page-inside {
            div.upload-container {
                div.upload-section {
                    div.tag-input-container {
                        height: 100%;
                    }
                }
            }
        }
    }
}
