@import '../../styles/mixins';

main.home div.page-container {
    width: 100%;
    padding: 0 0 24px;

    div.page-inside {
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        padding: 0 48px;
        margin: 0 auto;
        max-width: 1440px;
    }
}

@include mobile {
    main.home div.page-container {
        div.page-inside {
            padding: 0 12px;
            gap: 24px;
        }
    }
}

@include tablet {
    main.home div.page-container {
        div.page-inside {
            gap: 42px;
        }
    }
}

@include desktop {
}
